
[core]
class: CustomUnitMetadata
price: 0
maxHp: 500
armour: 5
mass: 9000
numBitsOnDeath: 10

#footprint used for collisions with units (left, up, right, down)
footprint: 0,0,0,0

#used for placement, and placement of other buildings
constructionFootprint: 0,0,0,0

radius: 10
#displayRadius: 25
isBio: false
isBuilding: true
isUnselectable: true
isUnselectableAsTarget: true
stayNeutral: true
resourceRate: 0
reclaimPrice: 0
resourceMaxConcurrentReclaimingThis: 0

[ai]
notPassivelyTargetedByOtherUnits: true

[graphics]
#AUTO
image_shadow: AUTO
shadowOffsetX:2
shadowOffsetY:2
showHealthBar: false

[attack]
canAttack: false

[movement]
movementType: LAND
moveSpeed: 0
maxTurnSpeed: 0